@model Microsoft.AspNetCore.Identity.IdentityRole;
@{
    @* ViewData["Title"] = ""; *@
    Layout = "~/Views/Shared/adminLO.cshtml";
}

<body>
    <h3 class="text-center mt-2 fw-bold">
        <a asp-action="Index"><i class="float-start fas fa-arrow-left"></i></a>
        Update Role
    </h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" asp-route-id="@Model.Id">
                <div class="form-group mb-2">
                    <label for="roleName" class="mb-2">Role Name</label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</body>
